body {
    gap: 0px;
    margin: 0px;
    padding: 0px;
}

div {
}

.container {
    width: 1000px;
    height: 1000px;
    display: flex;

}

.row {
    flex-direction: column;
    flex: auto;
    display: flex;
}

.cell {
    flex: auto;
    border-width: 2px;
    border-style: solid;
}